- content_for :headline, 'Current Question'

= simple_form_for @answer, url: answers_path, html: { id: 'answer_form' } do |f|
  = render partial: "#{ @answer.class.name.underscore }_fields", locals: { f: f }
  = f.submit 'Answer'
